<ion-view view-title="Start"  class="start game-type--{{game.type}}">
  <ion-content scroll="false" class="padding row" >
  <div class="bar bar-header bar-light bar-energized">
	</div>





	<div class="row row-center">
  	<div class="col col-center">

  		<h1 class="emojimon-title" style="position: relative;top: 25px;">EM<img class="title-emoji" src="img/emoji/smile.svg"/>JI<br>SH<img class="title-emoji" src="img/emoji/rage.svg"/><img class="title-emoji" src="img/emoji/japanese_ogre.svg"/>T</h1>
  		<!-- <h1 class="emojimon-title">EM<img class="title-emoji" src="img/emoji/smile.svg"/>JIM<img class="title-emoji" src="img/emoji/rage.svg"/>N</h1> -->
  		<label ng-hide="game.reasonLost" class="item item-input item-stacked-label">
		    <span class="input-label">Your name</span>
		    <input type="text" placeholder="Anonymous" ng-model="game.username" ng-change="usernameChange()">

		  </label>



		  <!-- <div style="position: fixed;top: 74px;ba;background: rgb(255, 255, 255);height: 100vh;z-index: 100;width: 100%;padding-top: 36%;left: 0px;padding-left: 20px;padding-right: 20px;"> -->
		 <!--  <label class="item item-input item-stacked-label" >
		  <span class="input-label">Challenge Amount</span>
		  <input type="text" placeholder="Coins" ng-model="game.username" ng-change="usernameChange()">
		  </label> -->
		  <!-- </div> -->



		  <div style="width: 100%;height: 100vh;background: rgba(0, 0, 0, 0.86);position: fixed;top: 0px;left: 0px;z-index: 10;text-align: -webkit-center;padding-top: 51%;" ng-show="game.challengeMod">
		  <div style="width: 100%; height: 100%; position: fixed; top: 0px; z-index: -1" ng-click="sendChallenge()"></div>
		  	<div style="background: white;width: 86%;text-align: center;height: 250px;border-radius: 20px;text-align: -webkit-center; padding-top: 25px;">
		  		<h2>Challenge Amount</h2><br>
		  		<input type="number" placeholder="{{game.bid}}" style="height: 55px;border: solid rgba(0, 0, 0, 0.11); width: 70%; font-size: xx-large; text-align: center;"  min="1" max="{{game.cash}}" ng-model="game.bid">
<br>
		  		<a href="#/game" style="background-color: #4CAF50;border: none; color: white; padding: 15px 32px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; margin: 4px 2px;">Play</a>
		  	</div>
		  </div>

			<div class="scores">

			<h3 ng-show="game.score < game.topScore && game.hasPlayed">
			<span class="game-over">Game Over</span>
			<img class="title-emoji" src="img/emoji/sad.svg"/>
			</h3>
			<div class="is-leader" ng-show="game.isLeader && game.hasPlayed">
			<h3 >
				<span class="game-over">You made the <a ui-sref="leaderboard">top 20</a>!</span>
				<img class="title-emoji" src="img/emoji/seenoevil.svg"/>
			</h3>
			</div>
			<div class="high-score" ng-show="game.score >= game.topScore && game.hasPlayed && !game.isLeader">
			<h3 >
				<span class="game-over">You beat your high score!</span>
				<img class="title-emoji" src="img/emoji/seenoevil.svg"/>
			</h3>
			</div>

			<p ng-show="game.reasonLost" class="reason">{{game.reasonLost}}</p>
			<div class="scores">
			<span ng-show="game.hasPlayed" class="score">Score: {{game.score}}</span>
			<span ng-show="game.hasPlayed" class="score top">Top Score: {{game.topScore}}</span>
			</div>
      <div class="list modes">
        <span class="input-label input-label--full-width">Game mode:</span>
        <label class="item item-radio">
          <input type="radio" name="group"  ng-model="game.type" value="normal">
          <div class="item-content">
            Normal
          </div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
        <label class="item item-radio">
          <input type="radio" name="group"  ng-model="game.type" value="omgwtf">
          <div class="item-content">OMGWTF</div>
          <i class="radio-icon ion-checkmark"></i>
        </label>
      </div>
			<a href="#/game" class="button button-balanced button-block" ng-hide="game.hasPlayed">
		  	Play
			</a>
			<a href="#/game" class="button button-balanced button-block" ng-show="game.hasPlayed">
		  	Play again
			</a>
			<a ui-sref="leaderboard" class="tutorial icon ion-trophy"></a>
			<a ui-sref="tutorial" class="tutorial icon ion-help-circled"></a>
		<a class="tutorial icon ion-android-share-alt" ng-click="shareAnywhere()"></a>

		<a style="font-size: 40px;z-index: 100;width: 100%;top: 1px;text-align: center;left: 0px;position: absolute;color: white;font-family: fantasy;">
		{{game.cash}}
		<img src="img/goldcoin.png" style="position: relative; top: 2px"> 

		<img src="img/vs.png" style="width: 35px; top: 5px; position: absolute; right: 8px;" ng-show="game.cash>=5" ng-click=sendChallenge()>
		</a>

  	</div>
	</div>


  </ion-content>
</ion-view>
